{% extends 'student_template/base_template.html' %}
{% block page_title %}
Add Class
{% endblock page_title %}
{% block main_content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">

          </div>
            <div class="col-md-8">
          <!-- general form elements -->
          <div class="card card-primary" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
            <div class="card-header">
              <h3 class="card-title">New Term</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="post_form" method="post" action="{% url 'timetable' %}">
                {% csrf_token %}
             

              <div class="card-body">
                
               
                </br>
                  <div>
                    <p>Click to Set Up Your Timetable for this term <small> if you are not in a new term or you have already filled your timetable for this term, contact your administrator</small></p>
                  </div>
                </div>
                
                
                 <div id="msg_cls" class="form-group">
                    {% if messages %}
                      {% for message in messages %}
                      {% if message.tags == 'error' %}
                      <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                      {% endif %}
                      {% if message.tags == 'success' %}
                      <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                      {% endif %}
                      {% endfor %}
                    {% endif %}
                  </div>

              
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-outline-success">Set up timetable</button>
              </div>
            </form>
          </div>
          <!-- /.card -->



        </div>
        </div>
    </div>
  </section>
  {% endblock %}
